@inherits LayoutComponentBase

<Toasts class="p-3" AutoHide="true" Placement="ToastsPlacement.TopRight" />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <ErrorBoundary>
        <ChildContent>
            <main>
                <div class="top-row px-4">
                    
                </div>
                <article class="content px-4">
                    @Body
                </article>
                <Preload LoadingText="Loading..." />
            </main>
        </ChildContent>
        <ErrorContent>
            <div class="alert alert-danger">
                Oops! Something went wrong.
            </div>
        </ErrorContent>
    </ErrorBoundary>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>